#
# FFClock device driver configuration
#

menu "Feed Forward Clock Module"

config FFCLOCK_MODULE
	boolean "Kernel support for the Feed Forward Clock"
	depends on EXPERIMENTAL && GENERIC_TIME && FFCLOCK
	default y
	help
          Defines support and access to a consistent virtual counter, the basis
          of the FFClock (a feed-forward synchronization algorithm) and
          corresponding applications.
endmenu
